<ion-view title="Login" hide-back-button="true" id="page5" class=" ">
    <ion-content padding="true" style="background: url(img/224xPytoRP6TSNciNSAC_Unknown.jpeg) no-repeat center;background-size:cover;" class="has-header">
        <form id="login-form2" class="list ">
            <ion-list id="login-list1" class=" ">
                <label class="item item-input " id="login-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Type Here">
                </label>
                <label class="item item-input " id="login-input5">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Type Here">
                </label>
            </ion-list>
            <a ui-sref="tabsController.yourAccount" id="login-button2" class=" button button-stable  button-block ">Log in</a>
            <a ui-sref="tabsController.signup" id="login-button3" style="border-radius:0px 0px 0px 0px;" class=" button button-calm  button-block ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>