<ion-view title="Map" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="map-form7" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Country">
            </label>
        </form>
        <div class="" style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/8YoVx3AWQCO2FTk8IL1L_Unknown-1.jpeg" width="100%" height="450" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="map-list10" class=" ">
            <ion-item class="item-avatar  " id="map-list-item22" ui-sref="tabsController.nepal2">
                <h2>Yanna</h2>
                <p>"I did not feel safe at all while visiting</p>
            </ion-item>
            <ion-item class="item-avatar  " id="map-list-item23">
                <h2>Angellica</h2>
                <p>This was one of my worst trips that</p>
            </ion-item>
            <ion-item class="item-avatar  " id="map-list-item24">
                <h2>Daniel</h2>
                <p>Not a great experience here. I felt</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>