<ion-view title="Nepal" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="nepal-list8" class=" ">
            <ion-item class="item-icon-left  " id="nepal-list-item15" ui-sref="tabsController.tapWaterQuality">
                <i class="icon ion-waterdrop"></i>Tap Warer Quality</ion-item>
            <ion-item class="item-icon-left  " id="nepal-list-item16">
                <i class="icon ion-android-alert"></i>Crime Level</ion-item>
            <ion-item class="item-icon-left  " id="nepal-list-item17">
                <i class="icon ion-pizza"></i>Common Ingrediats</ion-item>
            <ion-item class="item-icon-left  " id="nepal-list-item18">
                <i class="icon ion-medkit"></i>Vaccines Needed</ion-item>
            <ion-item class="item-icon-left  " id="nepal-list-item19">
                <i class="icon ion-ios-flask-outline"></i>Current Viruses</ion-item>
            <ion-item class="item-icon-left  " id="nepal-list-item20">
                <i class="icon ion-ios-paper"></i>Recent News Stories</ion-item>
            <ion-item class="item-icon-left  " id="nepal-list-item10" ui-sref="tabsController.userReviews">
                <i class="icon ion-android-person"></i>Users Reviews</ion-item>
        </ion-list>
    </ion-content>
</ion-view>