<ion-view title="Nepal" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="nepal2-list13" class=" ">
            <ion-item class="item-avatar  " id="nepal2-list-item25">
                <h2>Yanna</h2>
            </ion-item>
        </ion-list>
        <p id="nepal2-markdown4" style="color:#000000;" class=" ">"I did not feel safe at all while visiting Nepal. I constantly felt like someone was trying to pickpocket me. I would reccoment really being cautious when you go here!!"</p>
        <div class="spacer" style="width: 300px; height: 59px;"></div>
        <h3 id="nepal2-heading6" style="color:#000000;" class=" ">Safety Rating:</h3>
        <form id="nepal2-form12" class="list ">
            <ion-item class="range range-assertive " id="nepal2-range4">Range
                <input type="range" value="20" min="0" max="100">
            </ion-item>
            <h4 id="nepal2-heading7" style="color:#000000;" class=" ">Score: 20/100</h4>
        </form>
    </ion-content>
</ion-view>