<ion-view title="Tap Water Quality" id="page10" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="tapWaterQuality-heading4" style="color:#000000;" class=" ">Tap Water Quality</h2>
        <p id="tapWaterQuality-markdown3" style="color:#0546FF;font-size:23px;" class=" ">All water should be regarded as potentially contaminated. Water used for drinking, brushing teeth or making ice should have first been boiled or sterilised.</p>
    </ion-content>
</ion-view>