<ion-view title="User Reviews" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="userReviews-list11" class=" ">
            <ion-item class="item-avatar  " id="userReviews-list-item11">
                <h2>Angellica</h2>
                <p>"I really enjoyed Nepal. The sights</p>
            </ion-item>
            <ion-item class="item-avatar  " id="userReviews-list-item26" ui-sref="tabsController.nepal2">
                <h2>Yanna</h2>
                <p>"I did not fell safe at all while visi Nepal at all. I did noy</p>
            </ion-item>
            <ion-item class="item-avatar  " id="userReviews-list-item27">
                <h2>Daniel</h2>
                <p>"I felt that it was very hard to keep</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>