<ion-view title="Your Account" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="yourAccount-heading2" style="color:#000000;" class=" ">Your Account</h1>
        <h3 id="yourAccount-heading8" style="color:#000000;" class=" ">Leave a Review:</h3>
        <form id="yourAccount-form9" class="list ">
            <label class="item item-select " id="yourAccount-select1">
                <span class="input-label">Country</span>
                <select>
                    <option>Select</option>
                    <option>Nepal</option>
                    <option>Columbia</option>
                    <option>Cuba</option>
                    <option>Jordan</option>
                    <option>Albainia</option>
                    <option>Romainia</option>
                    <option>El Salvador</option>
                    <option>Wales</option>
                    <option>Kenya</option>
                    <option>Sri Lanka</option>
                </select>
            </label>
            <label class="item item-input " id="yourAccount-input10">
                <span class="input-label">Comment</span>
                <input type="text" placeholder="Type Here">
            </label>
            <ion-item class="range range-positive " id="yourAccount-range5">Overall Review
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        </form>
        <button id="yourAccount-button6" class=" button button-positive  button-block ">Post!</button>
        <p id="yourAccount-markdown1" style="color:#000000;font-size:21px;" class=" ">Countries Researched:</p>
        <ion-list id="yourAccount-list7" class=" ">
            <ion-item class="item-thumbnail-left  " id="yourAccount-list-item13">
                <img src="img/y2G6lGeQFyjuoKBfnK8I_Unknown.png">
                <h2>Kenya</h2>
                <p>5/14/16</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="yourAccount-list-item14">
                <img src="img/IQmSHzRiqFxT7nq3vaBg_Unknown-1.png">
                <h2>Wales</h2>
                <p>3/4/15</p>
            </ion-item>
        </ion-list>
        <h3 id="yourAccount-heading3" style="color:#000000;" class=" ">Your Comments:</h3>
        <ion-list id="yourAccount-list9" class=" ">
            <ion-item class="item-thumbnail-left  " id="yourAccount-list-item21">
                <img src="img/hieQUDxTmqSxYvgo2DFw_Unknown-2.png">
                <h2>Sri Lanka</h2>
                <p style="white-space:normal;">"I felt safe the entire time that I was there. It was a very enjoyable trip and...</p>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.login" id="yourAccount-button5" class=" button button-assertive  button-block ">Logout</a>
    </ion-content>
</ion-view>